<main class="detail-box">

    <div class="content">
        <div class="box1">
            <h2>{{char.name}}</h2>
            <div><span>Altura: </span>{{char.height}} m</div>
            <div><span>Peso: </span>{{char.mass}} Kg</div>
            <div><span>Cor de Cabelo: </span>{{char.hair_color}}</div>
            <div><span>Cor da Pele: </span>{{char.skin_color}}</div>
            <div><span>Cor do Olho: </span>{{char.eye_color}}</div>
            <div><span>Ano de Nascimento: </span>{{char.birth_year}}</div>
            <div><span>Planeta Natal: </span>{{ char.homeworld }}</div>
        </div>
        
        <div class="box2">
            <h2>Filmes</h2>
            
            <ul class="list-film">
                <li *ngFor="let film of films">
                    <a [routerLink]="['/film-details', film.url.split('/')[film.url.split('/').length - 2]]">
                        {{ film.title }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>