<main class="detail-box">
  <div class="content">

    <div class="box1">
      <h3>{{ details.title }}</h3>
      <p>Data de Lançamento: {{ details.release_date }}</p>
      <p>Episódio: {{ details.episode_id }}</p>
      <p>Diretor: {{ details.director }}</p>
      <p>Produtor: {{ details.producer }}</p>
    </div>

    <div class="box2">
      <h3>Personagens:</h3>

      <ul class="list-char">
        <li *ngFor="let character of characters; let i = index">
          <ng-container *ngIf="i <= 5">
            <a [routerLink]="['/character-detail', character.url.split('/')[character.url.split('/').length - 2]]">
              <p class="personagem"> {{ character.name }} </p>
            </a>
          </ng-container>
        </li>
      </ul>
    </div>

  </div>

</main>