
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

}

a{
    text-decoration: none;
    color: white;
}

.filme{
    margin: 10px;
    padding: 10px;
   
    background-color: transparent;
    backdrop-filter: blur(15px);
    background-image: linear-gradient(120deg,
    rgba(0, 10, 0, 0.3),
    rgba(0, 25, 0, 0.4));
    background-size: 18px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 90vh;
    height: 12vh;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    gap: 10px;
}

.filme:hover{
    box-shadow: 1px 1px 15px 1px rgba(255,255,244,0.5);
    animation: 3ms ease-in-out 0s;
    background-size: 30px 30px;

}



h3{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

li {
    margin: 5px;
    list-style-type: none;

  }